.header{
    background-color: rgb(152, 184, 40);
    border: 2px solid rgb(152, 184, 40); 
    border-radius: 5px;
    margin: 0px;
  } 
  
  .header h4{
    padding-left: 30px;
    padding-top: 12px;
    color: white;
  }

  .form-group {
    margin: 1px;
    // margin-top: -1px;
  }
  
  .btn {
    font-size: 80%;
    border: 1px solid rgb(145, 141, 141);
    letter-spacing: .1rem;
    font-weight: bold;
    transition: all 0.2s;
    width: 100px;
    height: 30px;
    background-color:rgb(152, 184, 40);
    color: white;
    // position: fixed;
    padding: 0;
  }

  .label-width{
    max-width: 12%;
    text-align: right;
    
  }

  .label{
    font-size: 1rem;
    font-weight: normal;
  }

  .batch-job{
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    color: black;;
  }

  .option-table{
    width: 100%;
  }

  table, th, td{
    border: 1px solid rgb(164, 165, 160); 
    width: 130px;
  }

  //custom style for p-dialog
  ::ng-deep .ui-dialog .ui-dialog-titlebar{
    background-color: rgb(152, 184, 40) !important;
  }

  ::ng-deep .ui-dialog .ui-dialog-content{
    border: 1px solid rgb(152, 184, 40) !important;
  }

  ::ng-deep .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon{
    background-color: white !important;
    width: 25px !important;
    height: 25px !important;
    padding: 4px !important;
  }

  .dialog-content{
    border: 1px solid rgb(152, 184, 40);
    padding: 15px;
  }