<div class="header">
    <h4>Batch Job Information:</h4>
</div>

<div class="batch-job">
    <form name="form" (ngSubmit)="saveEntity()" #f1="ngForm">
        <!-- <div class="content"> -->
            <div class="row">
                <div class="col-3 label-width">
                    <label  class="label"> Scanned Rows:</label>
                </div>
                    <!-- <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox> -->
                <div class="col-6">
                    <span>3</span>
                </div>

                <div class="col-3" style="text-align: right;">
                    <a href="javascript:;" (click)="showOption()">
                         
                        <i class="fab fa-product-hunt"  pTooltip="{{siebelOptions.length}} Selected Options"
                            style="color: rgb(152, 184, 40); font-size: 30px;"></i>
                    </a>

                    <!-- <button class="btn" (click)="showOption()"> 
                        <i class="fa  fa-heart"></i>
                        <span class="cart_qty_cnt_cls " *ngIf="siebelOptions.length">{{siebelOptions.length}}</span>
                    </button> -->
                </div>
            </div>

            <div class="row">
                <div class="col-3 label-width">
                    <label  class="label"> Run mode:</label>
                </div>
                    <!-- <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox> -->
                <div class="col">
                    <select name="mode" [(ngModel)]="batchJobInfo.runMode" #ADMIN_Q1="ngModel" style="width: 100px; height: 25px;">
                        <option value="Scheduled">Scheduled</option>
                        <!-- <option *ngFor="let securityQuestion of securityQuestions" [ngValue]="securityQuestion.question"> -->
                        <!-- {{securityQuestion.question | translate}}</option> -->
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-3 label-width">
                    <label  class="label"> First run:</label>
                </div>
                    <!-- <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox> -->
                <div class="col" style="margin-top: -4px; margin-bottom: -2px;">
                    <input matInput [matDatepicker] = "picker" placeholder = "Choose a date" [(ngModel)]="batchJobInfo.firstRun" name="firstRun" 
                            style="width: 200px;">
                        <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
                         <mat-datepicker #picker></mat-datepicker>
                </div>
            </div>

            <div class="row">
                <div class="col-3 label-width" style="padding-top: 40px;">
                    <label  class="label"> Comments:</label>
                </div>
                <div class="col">
                    <textarea rows="5" cols="50" pInputTextarea [(ngModel)]="batchJobInfo.comments" name="comments"></textarea>
                </div>
            </div>

            <div class="row text-center">
                <div class="col form-group" style="padding-top: 5px; padding-left: 35px;">
                    <button class="btn" routerLink="/bulk/activation-activities/corporate-structure-information" style="margin-right: 5px;"> << Previous</button>
                    <button class="btn" type="submit"> Next >></button>
                </div>
                <div class="col">
                    
                </div>
            </div>
        <!-- </div> -->
    </form>
</div>

<!-- Option Dialog -->
<p-dialog appendTo="body" [(visible)]="showOptionsDialog" [style]="{width: '550px'}" [focusOnShow]="false">
    <p-header>
        Options
    </p-header>
        <div style="padding-top: 10px;">
            <table class="option-table">
                <tr>
                    <th style="text-align: center;">Group</th>
                    <th style="text-align: center;">Siebel Product</th>
                    <th style="text-align: center;">Duration</th>
                    <th style="text-align: center;">Extra Quota</th>
                    <th style="text-align: center;">Delete</th>
                </tr>
        
                <tr *ngFor="let option of siebelOptions ;let i = index">
                    <td style="text-align: center;"> {{option.group}}</td>
                    <td style="text-align: center;"> {{option.siebelProducts}}</td>
                    <td style="text-align: center;"> {{option.duration}}</td>
                    <td style="text-align: center;"> {{option.extraQuota}}</td>
                    <td style="text-align: center;"> 
                        <a href="javascript:;"  (click)="deleteOption(option, i)">
                            <span style="color: rgb(152, 184, 40);"> Delete</span> 
                         </a>
                    </td>
                </tr>
                <tr *ngIf="siebelOptions.length == 0"> 
                   <td colspan="5"> No options </td> 
                </tr>
            </table>
        </div>
</p-dialog>