<div class="header">
    <h4>Defualt contact information:</h4>
</div>
<div class="contact-form">
    <!-- f1.form.valid &&  -->
<form name="form" (ngSubmit)="saveEntity()" #f1="ngForm" class="kt-form kt-form--group-seperator-dashed">
    <fieldset>
        <!-- <legend>Defualt contact information:</legend> -->
    <div class="row">
        <div class="col">
            <div class="row form-group">
                <div class="col-4" style="text-align: right;padding: 0px;">
                    <label>Company Name:</label>
                </div>
                <div class="col">
                    <input type="text" [(ngModel)]="contactInformation.companyName" name="companyName" #companyName="ngModel">

                </div>
            </div>
        </div>

        <div class="col">
            <div class="row form-group">
                <div class="col-4" style="text-align: right; padding: 0px;">
                    <label>Customer Group:</label>
                </div>
                <div class="col">
                    <select name="customerGroup" [(ngModel)]="contactInformation.customerGroup" #customerGroup="ngModel" class="select">
                        <option [ngValue]="null">Prepaid</option>
                        <!-- <option *ngFor="let securityQuestion of securityQuestions" [ngValue]="securityQuestion.question"> -->
                        <!-- {{securityQuestion.question | translate}}</option> -->
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col">
            <div class="row form-group" style="padding-top: 10px;">
                <div class="col-4" style="text-align: right; padding: 0px;">
                    <label>First Name :  </label>
                </div>
                <div class="col">

                    <input type="text" [(ngModel)]="contactInformation.firstName" name="firstName" #firstName="ngModel">
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row form-group">
                <div class="col-4" style="text-align: right; padding: 0px; padding-top: 2px;">
                    <label>Birth Date :  </label>
                </div>
                <div class="col">
                    <input matInput [matDatepicker] = "picker" placeholder = "Choose a date" [(ngModel)]="contactInformation.birthDate" name="birthDate" #birthDate="ngModel">
                        <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
                         <mat-datepicker #picker></mat-datepicker>
                </div>
                
            </div>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col">
            <div class="row form-group">
                <div class="col-4" style="text-align: right; padding: 0px;">
                    <label>Last Name :  </label>
                </div>
                <div class="col">
                    <input type="text" [(ngModel)]="contactInformation.lastName" name="lastName" #lastName="ngModel">
                </div>
                
            </div>

        </div>

        <div class="col">
            <div class="row form-group">
                <div class="col-4" style="text-align: right; padding: 0px;">
                    <label>Area :  </label>
                </div>
                <div class="col">
                    <input type="text" [(ngModel)]="contactInformation.area" name="area" #area="ngModel">
                </div>
            </div>
        </div>

        
    </div>
    <!--  -->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>House Number :  </label>
                    </div>
                    <div class="col">
                        <input type="text" [(ngModel)]="contactInformation.houseNumber" name="houseNumber" #houseNumber="ngModel">
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Contract Responsible :  </label>
                    </div>
                    <div class="col">
                        <input type="checkbox" [(ngModel)]="contactInformation.contractResponsible" name="contractResponsible" #contractResponsible="ngModel" style="width: 18px;">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Street :  </label>
                    </div>
                    <div class="col">
                        <input type="text" style="width: 600px;" [(ngModel)]="contactInformation.street" name="street" #street="ngModel">
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            
        </div>

    </div>
    <!--  -->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>City :  </label>
                    </div>
                    <div class="col">
                        <select name="city" [(ngModel)]="contactInformation.city" #city="ngModel" class="select">
                            <option [ngValue]="null">--Select--</option>
                            <!-- <option *ngFor="let securityQuestion of securityQuestions" [ngValue]="securityQuestion.question"> -->
                            <!-- {{securityQuestion.question | translate}}</option> -->
                        </select>

                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Bill Cycle :  </label>
                    </div>
                    <div class="col">
                        <select name="billCycle" [(ngModel)]="contactInformation.billCycle" #billcycle="ngModel" class="select">
                            <option [ngValue]="null">--Select--</option>
                            <!-- <option *ngFor="let securityQuestion of securityQuestions" [ngValue]="securityQuestion.question"> -->
                            <!-- {{securityQuestion.question | translate}}</option> -->
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Country :  </label>
                    </div>
                    <div class="col">
                        <select name="country" [(ngModel)]="contactInformation.country" #country="ngModel" class="select">
                            <option [ngValue]="null">--Select--</option>
                            <!-- <option *ngFor="let securityQuestion of securityQuestions" [ngValue]="securityQuestion.question"> -->
                            <!-- {{securityQuestion.question | translate}}</option> -->
                        </select>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Credit Limit :  </label>
                    </div>
                    <div class="col">
                        <input type="text" [(ngModel)]="contactInformation.creditLimit" name="creditLimit" #creditLimit="ngModel">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Contact Phone Number :  </label>
                    </div>
                    <div class="col">
                        <input type="text" [(ngModel)]="contactInformation.contactPhoneNumber" name="contactPhoneNumber" #contactPhoneNumber="ngModel">
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Payment Responsible :  </label>
                    </div>
                    <div class="col">
                        <input type="checkbox" [(ngModel)]="contactInformation.paymentResponsible" name="paymentResponsible" #paymentResponsible="ngModel" style="width: 18px;">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Search Code :  </label>
                    </div>
                    <div class="col">
                        <input type="text" [(ngModel)]="contactInformation.searchCode" name="searchCode" #searchCode="ngModel">
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Payment Method :  </label>
                    </div>
                    <div class="col">
                        <select name="paymentMethod" [(ngModel)]="contactInformation.paymentMethod" #paymentMathod="ngModel" class="select">
                            <option [ngValue]="null">--Cash--</option>
                            <!-- <option *ngFor="let securityQuestion of securityQuestions" [ngValue]="securityQuestion.question"> -->
                            <!-- {{securityQuestion.question | translate}}</option> -->
                        </select>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Trade :  </label>
                    </div>
                    <div class="col">
                        <select name="trade" [(ngModel)]="contactInformation.trade" #trade="ngModel" class="select">
                            <option [ngValue]="null">--Trade--</option>
                            <!-- <option *ngFor="let securityQuestion of securityQuestions" [ngValue]="securityQuestion.question"> -->
                            <!-- {{securityQuestion.question | translate}}</option> -->
                        </select>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Driving License :  </label>
                    </div>
                    <div class="col">
                        <input type="text" [(ngModel)]="contactInformation.drivingLicense" name="drivingLicense" #drivingLicense="ngModel">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Job Description :  </label>
                    </div>
                    <div class="col">
                        <select name="jobDescription" [(ngModel)]="contactInformation.jobDescription" #jobDescription="ngModel" class="select">
                            <option [ngValue]="null">--Select--</option>
                            <!-- <option *ngFor="let securityQuestion of securityQuestions" [ngValue]="securityQuestion.question"> -->
                            <!-- {{securityQuestion.question | translate}}</option> -->
                        </select>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Rate Plan:  </label>
                    </div>
                    <div class="col">
                        <select name="ratePlan" [(ngModel)]="contactInformation.ratePlan" #ratePlan="ngModel" class="select">
                            <option [ngValue]="null">--Select--</option>
                            <!-- <option *ngFor="let securityQuestion of securityQuestions" [ngValue]="securityQuestion.question"> -->
                            <!-- {{securityQuestion.question | translate}}</option> -->
                        </select>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Customer Rateplan:  </label>
                    </div>
                    <div class="col">
                        <select name="customerRateplan" [(ngModel)]="contactInformation.customerRateplan" #customerRateplan="ngModel" class="select">
                            <option [ngValue]="null">--Select--</option>
                            <!-- <option *ngFor="let securityQuestion of securityQuestions" [ngValue]="securityQuestion.question"> -->
                            <!-- {{securityQuestion.question | translate}}</option> -->
                        </select>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col">
            
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Nationality :  </label>
                    </div>
                    <div class="col">
                        <select name="nationality" [(ngModel)]="contactInformation.nationality" #nationality="ngModel" class="select">
                            <option [ngValue]="null">Egypt</option>
                            <!-- <option *ngFor="let securityQuestion of securityQuestions" [ngValue]="securityQuestion.question"> -->
                            <!-- {{securityQuestion.question | translate}}</option> -->
                        </select>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Handset:  </label>
                    </div>
                    <div class="col">
                        <input type="text" [(ngModel)]="contactInformation.handset" name="handset" #handset="ngModel">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Id Document:  </label>
                    </div>
                    <div class="col">
                        <select name="idDocument" [(ngModel)]="contactInformation.idDocument" #idDocument="ngModel" class="select">
                            <option [ngValue]="null">--Select--</option>
                            <!-- <option *ngFor="let securityQuestion of securityQuestions" [ngValue]="securityQuestion.question"> -->
                            <!-- {{securityQuestion.question | translate}}</option> -->
                        </select>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Old Operator:  </label>
                    </div>
                    <div class="col">
                        <input type="text" [(ngModel)]="contactInformation.oldOperator" name="oldOperator" #oldOperator="ngModel">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Id Document Number:  </label>
                    </div>
                    <div class="col">
                        <input type="text" [(ngModel)]="contactInformation.idDocumentNumber" name="idDocumentNumber" #idDocumentNumber="ngModel">
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Preferred Channel:  </label>
                    </div>
                    <div class="col">
                        <input type="text" [(ngModel)]="contactInformation.preferredChannel" name="preferredChannel" #preferredChannel="ngModel">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--  --><div class="row">
        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Sales Channel:  </label>
                    </div>
                    <div class="col">
                        <input type="text" [(ngModel)]="contactInformation.salesChannel" name="salesChannel" #salesChannel="ngModel">
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Sales Force Id:  </label>
                    </div>
                    <div class="col">
                        <input type="text" [(ngModel)]="contactInformation.salesForceId" name="salesForceId" #salesForceId="ngModel">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Language:  </label>
                    </div>
                    <div class="col">
                        <select name="language" [(ngModel)]="contactInformation.language" #language="ngModel" class="select">
                            <option [ngValue]="null">Arabic</option>
                            <!-- <option *ngFor="let securityQuestion of securityQuestions" [ngValue]="securityQuestion.question"> -->
                            <!-- {{securityQuestion.question | translate}}</option> -->
                        </select>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col">
            
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Customer Reason:  </label>
                    </div>
                    <div class="col">
                        <select name="customerReason" [(ngModel)]="contactInformation.customerReason" #customerReason="ngModel" class="select">
                            <option [ngValue]="null">--Select--</option>
                            <!-- <option *ngFor="let securityQuestion of securityQuestions" [ngValue]="securityQuestion.question"> -->
                            <!-- {{securityQuestion.question | translate}}</option> -->
                        </select>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Contract Reason :  </label>
                    </div>
                    <div class="col">
                        <select name="contractReason" [(ngModel)]="contactInformation.contractReason" #contractReason="ngModel" class="select">
                            <option [ngValue]="null">--Select--</option>
                            <!-- <option *ngFor="let securityQuestion of securityQuestions" [ngValue]="securityQuestion.question"> -->
                            <!-- {{securityQuestion.question | translate}}</option> -->
                        </select>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Roaming Deposit:  </label>
                    </div>
                    <div class="col">
                        <input type="text" [(ngModel)]="contactInformation.roamingDeposit" name="roamingDeposit" #roamingDeposit="ngModel">
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Intemational Deposit:  </label>
                    </div>
                    <div class="col">
                        <input type="text" [(ngModel)]="contactInformation.intemationalDeposit" name="intemationalDeposit" #intemationalDeposit="ngModel">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px;">
                        <label>Deposit Referrence Number:  </label>
                    </div>
                    <div class="col">
                        <input type="text" [(ngModel)]="contactInformation.depositReferenceNumber" name="depositReferenceNumber" #depositReferenceNumber="ngModel">
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-4" style="text-align: right; padding: 0px; padding-top: 10px;">
                        <label>Deposit Recipt Date:  </label>
                    </div>
                    <div class="col">
                         <input matInput [matDatepicker] = "picker2" placeholder = "Choose a date"
                         [(ngModel)]="contactInformation.depositReceiptDate" name="depositReceiptDate" #depositReceiptDate="ngModel">
                        <mat-datepicker-toggle matSuffix [for] = "picker2"></mat-datepicker-toggle>
                         <mat-datepicker #picker2></mat-datepicker>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--  -->
    <div class="row text-center">
        <div class="col form-group" style="padding-top: 5px;">
            <button class="btn" type="submit"> Next >></button>
        </div>
    </div>
    

</fieldset>
</form>
</div>

