.contact-form{
  background-color: white;
}
.form-group {
    margin-bottom: 3px;
    // margin-top: 0px;
  }

  fieldset{
    border: 0px solid white;
    // box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    color: black;
  }

  legend{
    background-color: rgb(152, 184, 40);
    border: 2px solid rgb(78, 88, 40);
    color: white;
  }
  .btn {
    font-size: 80%;
    border: 2px solid rgb(145, 141, 141);
    letter-spacing: .1rem;
    font-weight: bold;
    transition: all 0.2s;
    width: 100px;
    height: 30px;
    background-color:rgb(230, 223, 223);
    // position: fixed;
    padding: 0;
  }

  input {
    width: 250px;
    height: 25px;
}

.select{
  width: 150px;
  height: 25px;
}

.second-form{
  padding-top: 30px;
}

.second-form-label{
  font-size: 1rem;
    font-weight: 400;
}

.header{
  background-color: rgb(83, 83, 221);  
  border: 2px solid rgb(83, 83, 221); 
  border-radius: 5px;
} 

.header h4{
  padding-left: 30px;
  padding-top: 12px;
  color: white;
}

// .ui-fileupload-buttonbar .ui-fileupload-upload {
//   display: none;
// }
// .ui-fileupload-buttonbar .ui-fileupload-cancel {
//   display: none;
// }

// .ui-fileupload .ui-fileupload-buttonbar .ui-button{
//   background-color: rgb(152, 184, 40);
// }