<div class="header">
    <h4>Corporate Structure Information:</h4>
</div>
<div class="corporate-form">
    <form name="form" (ngSubmit)="saveEntity()" #f1="ngForm">
        <!-- <fieldset> -->
            <!-- <legend></legend> -->
            <div class="row">
                <div class="col-3 label-width">
                    <label  class="label" style="padding-left: 28px; "> Post Production Dial:</label>
                </div>
                    <!-- <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox> -->
                <div class="col">
                    <input [(ngModel)]="corporateStructureInfo.postProductiondial" type="checkbox" name="checkbox" style="width: 18px;"/>
                </div>
            </div>

            <div class="row">
                <div class="col-3 label-width">
                    <label class="label" style="padding-left: 28px;"> Hirerachy Excel:</label>
                </div>
                    <!-- <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox> -->
                <div class="col">
                    <a href="javascript:;" routerLink="">
                        <span style="color: rgb(152, 184, 40); text-decoration: underline;"> sample</span>
                    </a>
                </div>
            </div>

            <div class="row ">
                <div class="col form-group" style="padding-top: 5px; padding-left: 35px;">
                    <button class="btn" routerLink="/bass/activation-activities/create-corporate-acceount" style="margin-right: 5px;"> << Previous</button>
                    <button class="btn" type="submit"> Next >></button>
                </div>
                <div class="col">
                    
                </div>
            </div>
            <div class="row ">
                <div class="col-7 form-group" style="padding-top: 5px; margin-left: 50px;">
                    <p-fileUpload #fileUploadSystem auto="true" 
                        uploadLabel="Upload" cancelLabel="Cancel" accept="image/*"
                        maxFileSize="1000000" name="uploadfiles" ngDefaultControl
                        invalidFileSizeMessageSummary="invalid_file_size_title" (ngModel)="corporateStructureInfo.uploadedFiles"
                        #image="ngModel" invalidFileSizeMessageDetail="invalid_file_size_details"
                        invalidFileTypeMessageSummary="invalid_file_type_title"
                        invalidFileTypeMessageDetail="invalid_file_type_details" (onSelect)="onUpload($event)">
                    </p-fileUpload>
                    <!-- <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
                                multiple="multiple" accept="image/*" maxFileSize="1000000">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload> -->
                </div>
                <div class="col-4 extra" *ngIf="corporateStructureInfo.uploadedFiles.length > 0">
                    <div class="header1">
                        <h4>Extra Action:</h4>
                    </div>
                    <form>
                        <fieldset>
                            <!-- <legend></legend> -->
                            <a href="javascript:;" (click)="showDialog()">
                                <span style="color:blue; text-decoration: underline; font-weight: bold;"> Add Siebel Product</span>
                            </a>
                            <br>
                            <a href="javascript:;" routerLink="">
                                <span style="color: blue; text-decoration: underline; font-weight: bold;"> Add subscription Service</span>
                            </a>
                        </fieldset>
                    </form>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col">
                    <label> Selected file :</label>
                    <span>{{fileName}}</span> -->
                    <!-- <img src="{{corporateStructureInfo.uploadedFiles[0].objectURL.changingThisBreaksApplicationSecurity}}" class="img"
                     style=" width:300px !important; height: 200px !important"> -->
                <!-- </div>
            </div> -->

        <!-- </fieldset> -->
    </form>
</div>
<p-dialog appendTo="body" [(visible)]="displayDialog" [style]="{width: '550px'}" [focusOnShow]="false">
    <p-header>
        Job Actions
    </p-header>
    <div class="dialog-content">

    
    <div >
        <div class="row">
            <div class="col-3">
                <label class="label">Groups :  </label>
            </div>
            <div class="col">
                <select name="groups" [(ngModel)]="siebelProduct.group" #groups="ngModel" style="width: 100px; height: 25px;">
                    <option value="etisalat">Etisalat</option>
                    <!-- <option *ngFor="let securityQuestion of securityQuestions" [ngValue]="securityQuestion.question"> -->
                    <!-- {{securityQuestion.question | translate}}</option> -->
                </select>
            </div>
        </div>

        <div class="row" style="padding-top: 5px;">
            <div class="col-3">
                <label class="label">Siebel Products :  </label>
            </div>
            <div class="col">
                <select name="siebel" [(ngModel)]="siebelProduct.siebelProducts" #siebel="ngModel" style="width: 300px; height: 25px;">
                    <option value="DOUBLE_QUOTA_FREE">DOUBLE_QUOTA_FREE</option>
                    <!-- <option *ngFor="let securityQuestion of securityQuestions" [ngValue]="securityQuestion.question"> -->
                    <!-- {{securityQuestion.question | translate}}</option> -->
                </select>
            </div>
        </div>
    </div>

    <div class="content">
        <table class="table">
            <tr>
                <td class="label" style="text-align: center;"> Duration</td>
                <td style="width: 130px; text-align: center;">
                    <select name="Duration" [(ngModel)]="siebelProduct.duration" #Duration="ngModel" style="height: 25px; width: 100px;">
                        <option [ngValue]="2">2</option>
                        <!-- <option *ngFor="let securityQuestion of securityQuestions" [ngValue]="securityQuestion.question"> -->
                        <!-- {{securityQuestion.question | translate}}</option> -->
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label" style="text-align: center;"> Extra Quota</td>
                <td style="width: 130px; text-align: center;">
                    <select name="extra_quota" [(ngModel)]="siebelProduct.extraQuota" #extra_quota="ngModel" style="height: 25px; width: 100px;">
                        <option [ngValue]="50">50%</option>
                        <!-- <option *ngFor="let securityQuestion of securityQuestions" [ngValue]="securityQuestion.question"> -->
                        <!-- {{securityQuestion.question | translate}}</option> -->
                    </select>
                </td>
            </tr>
        </table>

    </div>
    <div style="padding-top: 5px;">
        <button class="btn" (click)="addDialogInfo()"> Add</button>
    </div>
</div>
<div *ngIf="siebelOptions.length > 0" style="padding-top: 10px;">
    <table class="option-table">
        <tr>
            <th style="text-align: center;">Group</th>
            <th style="text-align: center;">Siebel Product</th>
            <th style="text-align: center;">Duration</th>
            <th style="text-align: center;">Extra Quota</th>
        </tr>

        <tr *ngFor="let option of siebelOptions">
            <td style="text-align: center;"> {{option.group}}</td>
            <td style="text-align: center;"> {{option.siebelProducts}}</td>
            <td style="text-align: center;"> {{option.duration}}</td>
            <td style="text-align: center;"> {{option.extraQuota}}</td>
        </tr>
        
    </table>
</div>
</p-dialog>