.corporate-form{
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    color: black;
  }
  
  .corporate-form-label{
    font-size: 1rem;
      font-weight: 400;
  }

  // fieldset{
  //   border: 0px solid white;
  //   // box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  //   color: black;
  // }

  .header{
    background-color: rgb(152, 184, 40);
    border: 2px solid rgb(152, 184, 40); 
    border-radius: 5px;
    margin: 0px;
  } 
  
  .header h4{
    padding-left: 30px;
    padding-top: 12px;
    color: white;
  }

  .btn {
    font-size: 80%;
    border: 2px solid rgb(145, 141, 141);
    letter-spacing: .1rem;
    font-weight: bold;
    transition: all 0.2s;
    width: 100px;
    height: 30px;
    background-color:rgb(230, 223, 223);
    // position: fixed;
    padding: 0;
  }

  .label-width{
    max-width: 20%
    
  }

  .label{
    font-size: 1rem;
    font-weight: normal;
  }

  .extra{
    border: 2px solid rgb(152, 184, 40); 
    height: 115px;
    margin-top: 15px;
  }

  .header1{
    background-color: rgb(152, 184, 40);
    border: 2px solid rgb(152, 184, 40); 
    // border-radius: 5px;
    margin-left: -12px;
    width: 355px;
    // 
    margin-bottom: 15px;
  }

  .header1 h4{
    padding-left: 5px;
    padding-top: 5px;
    color: white;
  }

  .dialog{
      width: 600px;
  }

  //custom style for p-fileupload
  ::ng-deep .ui-fileupload .ui-fileupload-buttonbar .ui-button{
    background-color: rgb(152, 184, 40) !important;
    border: 0px !important;
  }

  ::ng-deep .ui-button.ui-button-icon-only{
    background-color: rgb(152, 184, 40) !important;
    border: 0px !important;
  } 

  //custom style for p-dialog
  ::ng-deep .ui-dialog .ui-dialog-titlebar{
    background-color: rgb(152, 184, 40) !important;
  }

  ::ng-deep .ui-dialog .ui-dialog-content{
    border: 1px solid rgb(152, 184, 40) !important;
  }

  ::ng-deep .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon{
    background-color: white !important;
    width: 25px !important;
    height: 25px !important;
    padding: 4px !important;
  }

  .dialog-content{
    border: 1px solid rgb(152, 184, 40);
    padding: 15px;
  }

  .content{
    border: 1px solid rgb(152, 184, 40); 
    // border-radius: 5px;
    // padding-top: 5px;
    padding-left: 100px;
    margin-top: 5px;
    padding-top: 0px;
  }

  table, th, td{
    border: 1px solid rgb(164, 165, 160); 
    width: 130px;
  }
  .table{
    width: 250px;
    margin: 20px;
  }