<!-- begin:: Brand -->
<div class="kt-aside__brand kt-grid__item" [ngClass]="htmlClassService.getClasses('brand', true)" id="kt_aside_brand" style="text-align: center; height: 130px;">
	<div class="kt-aside__brand-logo">
		<a href="javascript:;" routerLink="/">
			<!-- <img alt="logo" src="headerLogo"/> -->
			<img alt="logo" src="assets/logo11.png" style="width: 180px; height: 90px; padding-top: 10px;">
			<br>
			<h5 style="color: white; padding-top: 10px;"> Bulk Tool </h5>
		</a>
		
	</div>
	<div class="kt-aside__brand-tools">
		<button ktToggle [options]="toggleOptions" class="kt-aside__brand-aside-toggler kt-aside__brand-aside-toggler--left" id="kt_aside_toggler">
			<span [inlineSVG]="'./assets/media/icons/svg/Navigation/Angle-double-left.svg'"></span>
			<span [inlineSVG]="'./assets/media/icons/svg/Navigation/Angle-double-right.svg'"></span>
		</button>
	</div>
	
	<!-- <div>
		
	</div> -->
</div>
<!-- end:: Brand -->
